@{
    ViewData["Title"] = "Home Page";
}


<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome" style="margin-top:80px;">

    <!-- ***** Header Text Start ***** -->
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <h1>AirCfg is free <strong>For EVERYONE</strong></h1>
                    <p>We are the central setting platform for dispersed projects. It will always be free for personal and Company use.</p>
                    <a href="/application" class="main-button-slider">Save Setting</a><a href="/application" class="main-button-slider" style="margin-left:10px;">Nuget</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="/images/01.svg" class="rounded img-fluid d-block mx-auto" alt="aircfg free clould Config">
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Header Text End ***** -->
</div>
<!-- ***** Welcome Area End ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="/images/02.svg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                <div class="left-heading">
                    <h5>Open Source And Secure</h5>
                </div>
                <div class="left-text">
                    <p>
                        AirCfg; It is open source, and secure. You can keep your distributed architecture settings on AirCfg. You can also host it on your own server. It is completely free.<br /><br />
                        You can support, subscribe or follow our projects on Github. Feel free to contact us with any issues.
                    </p>
                    <a href="https://github.com/PirSoftware/AirCfg" class="main-button">Github - Application</a>
                    <a href="https://github.com/PirSoftware/AircfgClient" class="main-button" style="margin-left:10px">Github - Nuget</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about2">
    <div class="container">
        <div class="row">
            <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                <div class="left-heading">
                    <h5>Fast and Safe</h5>
                </div>
                <p>Fast and secure with Microsoft framework and LiteDb.</p>
                <ul>
                    <li>
                        <img src="/images/about-icon-01.png" alt="">
                        <div class="text">
                            <h6>Fast</h6>
                            <p>Fast and secure with the latest technology and nosql database.</p>
                        </div>
                    </li>
                    <li>
                        <img src="/images/about-icon-02.png" alt="">
                        <div class="text">
                            <h6>Encrypted and Secure</h6>
                            <p>Your data is encrypted with a password that only you know, and you can decrypt and read it with a password only you know.</p>
                        </div>
                    </li>
                    <li>
                        <img src="/images/about-icon-03.png" alt="">
                        <div class="text">
                            <h6>Api Support</h6>
                            <p>You can use it as you wish from the platform you want on the API platform.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="/images/03.svg" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->
 